:root {
    --color_primary: rgb(30, 30, 102);
    --fond: rgb(245, 245, 245);
    --border: rgb(112, 112, 112);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
    overflow-y: auto;
}

body {
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

body input[type="text"] {
    text-transform: capitalize;
}

h1,
h2,
h3 {
    text-align: center;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

input {
    height: 2rem;
    border-radius: 3px;
    border: 1px solid gray;
    text-align: center;
    overflow: hidden;
}

label {
    margin-bottom: 0;
}
.button {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    padding: 4px;
    border-radius: 6px;
    display: flex;
}

.button:hover {
    position: relative;
    bottom: 1px;
    right: 1px;
}

.input-dates {
    display: flex;
}

.input-dates > div {
    margin-right: 1rem;
}

.input-dates :nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date_header {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.date_header label,
input {
    display: block;
}

.btn_header {
    display: flex;
    gap: 1rem;
    height: 3rem;
}

.btn_search {
    transform: rotateY(180deg);
}

.btn_nav {
    background-color: rgb(255, 255, 255, 0.9);
    align-items: center;
    justify-content: center;
}

.buttons {
    justify-content: flex-end;
}

.row_schedules .buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    background-color: var(--color_primary);
    justify-content: flex-end;
}

.main {
    display: flex;
    min-height: calc(100% - 64px);
}

.appointments {
    width: 60%;
    background-color: rgb(53, 52, 52);
    
}

.cont_appo {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    row-gap: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.hours {
    min-width: 10rem;
    max-width: 10rem;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    border-style: solid;
    border-width: 0px 5px 5px 0px;
    border-radius: 1.5rem;
}

.hrs_active {
    background-color: rgb(6, 139, 248);
    border-color: rgb(3, 89, 160);
    cursor: pointer;
}

.hrs_active:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
}

.hrs_notActive {
    background-color: rgb(3, 45, 161);
    border-color: rgb(2, 35, 126);
    color: rgb(170, 169, 169);
    cursor: default;
}

.forms {
    margin: 0 auto;
    padding: 0 3rem;
    padding-top: 5rem;
}

.form {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 2rem;
}

.form_appointments {
    display: flex;
}

.form_customer {
    display: none;
}

.form_schedules {
    display: none;
}

.row_schedules {
    display: flex;
    align-items: flex-end;
    gap: 5rem;
}

.rows {
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

.form input[name="hour"] {
    height: 19px;
}

.form input[name="date"] {
    height: 19px;
}

.close_msg {
    width: 2rem;
    cursor: pointer;
    opacity: 0.5;
}

.close_msg:hover {
    position: relative;
    bottom: 1px;
    right: 1px;
    opacity: 1;
}

.paragraph {
    width: 100%;
    margin: auto 5px;
}

.icoAlert {
    width: 2.5rem;
    height: 2rem;
    display: flex;
    margin: auto 5px;
    margin-left: 1rem;
}

/**************** BOOSTRAP *****************/
.dropdown {
    display: none;
}

.navbar {
    justify-content: space-between;
    background-color: var(--color_primary);
    color: white;
    padding: 1rem;

}

.navbar-light .navbar-toggler-icon {
    filter: invert(200%) contrast(200%);
}

.navbar-light .navbar-toggler {
    border-color: white;
    border-radius: 5px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    width: 3rem;
    padding: 2px 0;
}

.bi-list {
    font-size: 2rem;
    color: white;
}

.dropdown-item {
    display: none;
    color: white;
    cursor: pointer;
}

.dropdown-item:active,
.dropdown-item:focus {
    background-color: transparent;
    color: white;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}
.modal-open, .modal{
    padding: 0 !important;
}
.modal-header .close {
    margin: 0;
    padding: 0;
}

.appos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 1rem;
    justify-content: space-between;
}

.appo {
    margin-top: 1rem;
    border-top: 1px solid gray;
    padding-top: 1rem;
}

.search_appos {
    color: white;
    width: 70%;
    padding-top: 3rem;
    margin: 0 auto;
}

.search_appos>div {
    border-radius: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: rgb(3, 45, 161);
    width: 100%;
}

.search_appo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
}

.search_appo div {
    margin: 0 auto;
    font-size: 1.8rem;
}

.search_appos:nth-child(even) {
    display: flex;
    flex-wrap: auto;
}

.alert-danger, .alert-success {
    width: 100%;
    text-align: center;
}

.modal-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}
.toast {
    font-size: 1.6rem;
}
.close {
    font-size: 2rem;
}
.close:hover {
    color: black;
}

/**************** BOOSTRAP *****************/
/**************** MEDIA QUERY *****************/
@media (max-width: 400px) {
    .input-dates :nth-child(3) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .input-dates {
        align-items: center;
    }
}

@media (max-width: 575px) {
    html {
        overflow-y: scroll;
    }
    .header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    .main {
        padding-top: 6.4rem;
        flex-direction: column;
    }

    .forms {
        order: 1;
        padding: 5rem 0;
    }

    .appointments {
        width: 100%;
        order: 2;
    }

    .cont_appo {
        margin-bottom: 5rem;
    }

    .btn_header {
        display: none;
    }

    .dropdown-item {
        display: block;
    }

    #dateIn,
    #dateEnd {
        width: 11rem;
    }

    .input-dates {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 720px) {
    .cont_appo {
        grid-template-columns: repeat(2, 1fr);
    }
    html {
        overflow-y: scroll;
    }

}

/**************** ALERT ********************/
.alert-empty {
    position: relative;
    top: 7px;
    left: -5px;
    background: var(--fond);
    border: 1px solid var(--border);
    width: 20rem;
    height: 4rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(88, 88, 88);
    display: flex;
    justify-content: space-around;
    cursor: default;
    z-index: 1;
    color: black;
}
.alert-empty::after,
.alert-empty::before {
    top: -2.5rem;
    left: 1rem;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: scaleY(-1);
}
.alert-empty::after {
    border-top-color: var(--fond);
    border-width: 12px;
    margin-top: 2.8px;
    margin-left: -1px;
}
.alert-empty:before {
    border-top-color: var(--border);
    border-width: 11px;
    margin-top: 2.5px;
} 

.alert-empty-ipt-d1 {
    position: absolute;
    top: 60px;
    left: 15px;
}
.alert-empty-ipt-d2 {
    position: absolute;
    top: 60px;
    left: 150px;
}


